# Data & results
data/
experiments/**/plots/
experiments/**/Plots/
experiments/**/*.csv
experiments/**/*.png
experiments/**/*.pdf
experiments/**/*.nc
experiments/**/*.gif
frost/visualization/Plots/

# Python cache
__pycache__/
*.pyc

# Editor backup files
*~

# IDE configs
.idea/
.vscode/


